<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>

</head>
<body>

    <div class="container">
        
        
        <div class="about">
            <h1>A b o u t</h1>
            <div class="dot_line"></div>
        <p class="article">Hi my name is King and I'm a pharmacy tech interested in software development.  I created this page to practice web development and to help pharmacy techs.  If you find this page useful consider sharing it qd cf.  Thanks for stopping by.
        </p>
        </div>
       
        
    </div>
     
</body>
</html>