<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H962PGWF6J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H962PGWF6J');
</script>


<div class="author">
    <h1 class="author__heading">Welcome to Pharmazy Rizz</h1>
    <p class="author__body">for techs by techs</p>
</div>

<!--Image here-->

    <img src="/IMG/pills.jpg" alt="Shadow of a man" class="hero-image" >

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">

            <% data.forEach(post => { %>

            <li><a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <div class="dot_line"></div>
                <span class="article-list__date"><%= post.updatedAt.toDateString() %></span>
        
                </a>
            </li>
             <% }); %> 
    </ul>





    <%# <a href="#" class="pagination">&lt; View Older Posts</a> %>
</section>
