
<body>
    <section id="section1">header + value offer/call to action</section>
    <section id="section2">details about the value offer</section>
    <section id="section3">sign up page</section>
</body>
