
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/*colors from logo #f7941d(orange), #27aae2(light blue) #302e2f(charcoal)*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=VT323&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
   /* background-color: #faf5ee;*/
    
    color: var(--black);
    font-size: var(--font-size-base);
    margin: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: content-box;
}

:root{
    --black: #302e2f/*charcoal*/;
    --gray: #7e7e7e;
    --light-grey: #e4e4e4;
    --red: #b30000;
    --orange: #f7941d;
    --light-blue: #27aae2;
    --llight-blue:#dbefff;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw+1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw+1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw+1.85rem, 3.75rem);
    --border-radius: 10px;
}


  
  /* menu icon */
  
  
@media (max-width: 800px){
    .dot_line{
        display:none;
    }
    .cardContainer{
        
        width: 100%;
    }
    .card{
        width: 99%;
        padding: 0;
        margin: 0;
    }

    .header__logo{
        
    }
    .header_nav{
        
        
        display:none;
    }
    .mobileHeader {
    
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      
    .hamburger {
        background-color: var(--light-blue);
        border-color: transparent;
        display: block;
      }
    .header{
        display:flex;
        width: 100%;
        flex-direction: column;
        padding: 20px;
          
    }
    
      .header_nav ul{
        font-size : 14px;
        width: 100px;
        height: fit-content;
        display:grid;
        
     
        list-style-type: none;
        column-gap: 20px;
        padding: 0;
      }
      .header_nav ul a{
        
        display: inline-block;
        
        list-style-type: none;
        row-gap: 40px;
        column-gap: 0;
      }
      .main{
        padding: 0px;
    }
     
}
@media  (min-width: 801px) {
    .hamburger {
        display: none;
      }
    .header_nav {
      display: block !important;
    }
    .header_nav ul{
        display: flex;
    }
    .cardContainer{
    margin: 50px auto;
    }
    .card{
        margin: 0 auto;
        padding: 20px;

        width: 75%;
    }
    .main{
        margin-top: 50px;
    padding: 20px 150px;

    }
    
  }



/*<button class="button-48" role="button"><span class="text">Button 48</span></button>*/

/* CSS */

.button-48 {

  border:2px solid var(--orange);
  border-radius: 5px;
  height: 50px;
  width: 100px;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  /*padding: 1.5em 2.2em;*/
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
    border:2px solid var(--orange);
    border-radius: 5px;
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
    
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.cardContainer{
    
    align-content: center;
    
 
    width: 100%;
   

}
.cardBtns{
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
   
}
.cardInner{
    gap: 20px;
    
}
.card{
    border-color: var(--light-blue);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    grid-template-rows: 1.5fr 1fr;
    text-align: center;
    
    display: grid;
    
    height: 400px;
    background-color: var(--llight-blue);
}
.generic{
    color: var(--light-grey)
    background-color: var(--light-blue)
}
.brand{
    color: var(--light-grey)
    background-color: var(--orange)
}
.dot_line{
    width: 100%;
    height: 0px;
    margin: 2rem auto 0px auto;
    border-top: 6px dotted var(--light-blue);
}

a {color: var(--black); }
h1 {font-size: var(--font-size-xl);
    color: var(--orange);
    text-shadow: var(--black) 2px 1px;
   
    letter-spacing: 0.2rem;
    margin-top: 2rem;
}
h2 {font-size: var(--font-size-lg);}
h3 {font-size: var(--font-size-md);}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family:'Montserrat', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn{
    background-color: var(--gray);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete{
    padding: 10px 16px;
    background-color: var(--red);
}



/*layout*/
.container{
    
    box-sizing:content-box;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.atbody{
  margin: 0;
  /*overflow-x: hidden;*/
  width: 100%;
  box-sizing: content-box;
  padding: 0;
}
.article{
   /* border-top: 2px dotted var(--light-blue); */
    box-sizing: content-box;
    width: 75%;
    min-height: 500px;
    line-height: 1.5;
    margin: 0;
   
    
   margin-top: 50px;

    
}
.about{
    background-color: white;
}

.main{
    
}

.hero-image{
    display: grid;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-height: 400px;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    border-radius: var(--border-radius);
}

/* footer */
.footer{
    background-color: var(--black);
    color: white;
    width: 100%;
    height: 100px;
    display:block;
    margin: 0;
    border: 0;
    text-align: center;
    
}

/* main header */


.header{
    width: 100%;
    margin: 0;
    background-color: var(--light-blue);
    display: grid;
    align-items: center;
    justify-content: right;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows: 100px;*/
    padding-top: 10px;
    grid-template-areas:
    "logo button"
    "menu menu"
    ;
    /*overflow: hidden;*/
}

/*@media only screen and (min-width: 768px){
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo menu button";
    }
}
*/
.header__logo{
    justify-self: right;
    width: 200px;
    height: 200px;
    
    object-fit: contain;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    /*display: inline-block;*/


}

/*.header__img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
}
*/
.header__logo:hover{
    text-decoration: underline;
    
}







/*
.header__button{
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}
*/
.header_button button:hover{
    border: 2px solid var(--black);
}

/*header -> navigation*/

.header_nav{
    width: 100%;
    margin: 0;
}

.header_nav ul{
    list-style: none;
    
    gap: 1rem;
    /*font-weight: 600;*/
    padding: auto 10px;
}

.header_nav ul a{
    padding: 10px;
    text-decoration: none;
}

.header_nav ul a:hover{
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-underline-offset: 4px;
    text-decoration-thickness: 4px;
}

.header_nav ul a.active{
    color: var(--gray);
}

/* author homepage*/

.author{
    padding: 10px 0;
    text-align: center;
}

.author__heading {
    margin-top: 10px;
    margin-bottom: 5px;
}

.author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
}

/* home article list*/

.articles__heading{
    
  
   

}

.article-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.13rem, cal(1.08rem+ 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 100px;
    display: inline-block;
}

.article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
}

@media only screen and (min-width: 768px){
    .article-ul li a{
        flex-direction: row;
        align-items: center;

    }

    .article-list__date{
        text-align: right;
    }
}

.article-ul li{
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;

}

.article-ul li:not(:last-child){
    border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover{
    filter: none;
}

.article-ul:hover li{
    filter: blur(3px);
}

.article-ul:hover li:hover{
    filter: none;
}

/*.pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-blcok;
}

.pagination:hover {
    color: var(--black);
}
*/
.article{
    background-color: white;
    white-space: pre-wrap;
}

/* footer */

/*.footer {
    margin: 4rem;
    text-align: center;
}
*/
/* searchBar*/

.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;

}

.searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;

}

.searchBar input {
    margin: 0;
    padding: 0;
}

#searchClose {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px;
}

/*Dashboard Admin*/

.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.admin-posts {
    padding: 0;
    margin: 0;

}

.admin-post-controls form{
    display: inline-block;
}

.admin-post-controls .btn{
    display: inline-block;
    background-color: var(--black);
    color: var(--light-grey);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

		.inputAppContainer {
            border-radius: 5px;
            border: 2px solid var(--light-blue);
        background-color: var(--llight-blue);
        display: flex;
        flex-direction: rows;
		    width: 100%;
		    height: auto;
		    margin:0 auto;
      }
	  .formContainer {
		    
        display: flex;
        flex-direction: rows;
        height: auto;
        width: 100%;
        margin: 20px;

      }

    .rxContainer {
        padding-top: 20px;
        margin: 0 auto;
        
        width: 45%;
      }
    .rxContainer p{
        margin-bottom: 15px;
        padding: 12px;
      }
      
    label {
        display: grid;
        grid-template-columns: 1fr 2fr;
      
        line-height: 40px;
        margin-bottom: 10px;
      }
    .formUnit {
        margin: 50px auto;
        
      }
      
      
    
	  .inputFit{
		height: 35px;
        width: 73.5%;
        line-height: 26px;
        margin-left: 10px;
	  }
	  option{
		height: 60px;
	  }
	  select{
          padding: 0;
		  height: 40px;
          width: 100%;
          margin-left: 10px;
          line-height: 10px;
      }
	  
      .formInput{
			width: 45%;
			margin: 0 auto;
		}
    #nameError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible {
  display: block;
}

input.invalid {
  border-color: red;
}
    /* all the autocomplete styles */
  

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.checker{
  visibility:hidden;
  display:none;
  
}
.use{
  float: right;
}
.allChecks{
  
  margin: 0 auto;
  display:flex;
  

}
.allChecks p{
  flex: 33%;
  padding: 5px;
  margin: 5px;
  width: 100%;
  
}
#position, #reset{
  display: none;
}

.submitctn{
  width: 100%;
  display: flex;
  
  
}
.submitbtn{
      
      margin: 0 auto;
      width: 50%;
      
      
    }
.formbtns{
  width: 100%;
}
    










